{% extends 'base.html.twig' %}

{% block title "All Posts" %}


{% block body %}
    {% if posts|length == 0 %}
        <p>There is no pin yet</p>
    {% else %}
        {% for post in posts %}
            <article>
                <h1><a href="{{ path('app_post_show', {id:post.id})}}">{{ post.title }}</a></h1>
                <p>{{ post.description }}</p>
<img src="{{ (post.imageName ? vich_uploader_asset(post) : asset("Images/26d3b5aaaaeb97b7149b805fd23c0e62.jpg")) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ post.title }}"/>

            </article>
        {% endfor %}
        
    {% endif %}
{% endblock %}
